.wordle.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wordle.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wordle.input-title {
    font-size: 23px;
}

.wordle.known-letters-title {
    font-size: 17px;
    margin-top: 40px;
}

.wordle.known-letter-input-box {
    font-size: 20px;
}

.wordle.help {
    padding-left: 10px;
    font-size: 17px;
    position: relative;
    opacity: .5;
    cursor: pointer;
    transition: .25s ease-out;
}

.wordle.help:hover {
    opacity: 1;
}

.wordle.help-box {
    position: absolute;
    bottom: 25px;

    display: none;
    align-items: center;
    justify-content: center;

    overflow-x: initial;
    overflow-y: scroll;

    padding: 10px;

    font-family: Renogare;
    font-weight: lighter;
    text-align: center;

    white-space: normal;

    width: 200px;
    height: 75px;

    background-color: var(--color-bg);
    border: 1px solid var(--color-a1-light);
    border-radius: 5px;

    transform: scale(0);

    transition: 0.5s ease-out;
}

.wordle.help:hover .wordle.help-box {
    display: flex;
    transform: scale(1);
}

/* .wordle.help::after {
    position: absolute;
    width: 200px;
    height: 75px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-a1-light);
    border-radius: 10px;
    bottom: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    font-family: Renogare;
    font-weight: lighter;
    font-size: 17px;
    text-align: center;
    transform: scale(0.0001);
    transition: .5s ease-out;
    overflow-wrap: break-word;
}

.wordle.help:hover::after {
    display: block;
    transform: scale(1);
}

.wordle.help.word::after {
    content: "Letters that you know the location of, in the correct location";
}

.wordle.help.known::after {
    content: "Letters that you don't know the location of, in any order";
} */